/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
  
/* UTILS */
  
.container {
    margin: 0 auto;
    padding: 0 80px;
    margin-top: 50px;
    width: 1200px;
    max-width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.page-bg{
    background-color: #f0efef;
    background-size: cover;
    padding-top: 10px;
}

/* PAGE HEADER */

.page-header{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
}

.title{
    font-weight: bold;
    font-size: 2.2em;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

.logo{
   height: 60px;
   vertical-align: middle;
}

/* MAIN MENU */

.button-container{
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
}

.button-uno{
    color: white;
    background-color: rgb(13, 145, 221);  
    border: 1px solid rgb(13, 145, 221);
    border-radius: 10%;
    padding: 10px 18px;
    margin-right: 2px;
    cursor: pointer;
}

.button-due{
    background-color: white;  
    border: 1px solid #dddddd;
    padding: 10px 18px;
    border-radius: 10%;
    color: #dddddd;
    cursor: pointer;
}

/* LISTE */

.list-container{
margin: 40px 0;
}

.list-item{
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 500;
}

.list-title{
    margin-bottom: 15px;
    font-size: 1.6em;
    font-weight: bold;
}

.list-block{
    display: inline-block;
    padding: 6px 10px;
    font-size: .75em;
    border-radius: 20%;
    color: white;
}

.list-check{
    color: rgb(0, 235, 0);
    border: 1px solid rgb(0, 235, 0);
    border-radius: 50%;
    padding: 3px;
}

.list-cross{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
}

#editorial{
    background-color: rgb(13, 145, 221);
}

#goals{
    background-color: #bd6fd3;
}

#recruiting{
    background-color: rgb(136, 197, 136);
}

#mobile{
    background-color: rgb(221, 159, 44);
}

#website{
    background-color: rgb(238, 128, 128);
}

#sales{
    background-color: rgb(159, 201, 10);
}