/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
  
/* UTILS */
  
.container {
    margin: 0 auto;
    padding: 0 50px;
    margin-top: 50px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.page-bg{
    background-color: #f0efef;
    background-size: cover;
    padding-top: 10px;
}

/* PAGE HEADER */

.page-header{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
}

.title{
    font-weight: bold;
    font-size: 2.2em;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

.logo{
   height: 60px;
   vertical-align: middle;
}

/* MAIN MENU */

.button-container{
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
}

.button-uno{
    background: transparent;
    background-color: rgb(13, 145, 221);  
    border: 1px solid rgb(13, 145, 221);;
    padding: 10px;
    border-radius: 15%;
    color: white;
}

.button-due{
    background: transparent;
    background-color: white;  
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 12%;
    color: #dddddd;
}

/* LISTE */

.list{
margin: 40px 0;
}

.list-item{
    margin-bottom: 40px;
    font-size: 1.2em;
    font-weight: 500;
}

.list-title{
    margin-bottom: 15px;
    font-size: 1.6em;
    font-weight: bold;
}

.list-block{
    display: inline-block;
    background-color: rgb(13, 145, 221);
    padding: 7px;
    font-size: .75em;
    border-radius: 30%;
    color: white;
}

.list-check{
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 50%;
    padding: 5px;
}

.list-cross{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
}